[submodule "frankenstain-contract"]
	path = frankenstain-contract
	url = git@github.com:RanVargas/frankenstain-contract.git
[submodule "frankenstain-body"]
	path = frankenstain-body
	url = git@github.com:RanVargas/frankenstain-body.git
[submodule "frankenstain-client"]
	path = frankenstain-client
	url = git@github.com:RanVargas/frankenstain-client.git
